.btn{
    margin-top: 4px;
    width: 59px;
    height: 59px;
    background: black;
    font-size: 40px;
    color: antiquewhite;
    border-bottom: 5px solid grey;
}
.igual{
    position: absolute;
    height: 122px;
    right: 13px;

    
}
.c{
    width: 186px;
   
}
.btn:active{
    margin-top: 9px;
    border: none;

}
